 h4 {

    color: rgb(153, 92, 51);
    text-align: center;
   
}

.inspiration p{
    color:red ;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-display: helvetica,sans-serif; >

}
.inspiration h3{
    color:hotpink ;
    font-size: 24px;
font-family:Arial, sans-serif;
}