
body{

    font-family: arial,sans-serif;
    background-color: aliceblue;
    color: black;
    margin: 0;
    padding: 0;
}
h1{
    color: rebeccapurple;
    text-align: center;
    margin: 60px;
}
p{
    line-height: 4,6;
    margin: 50px 50px;
    text-align: justify;
}